Repository cross-seed/cross-seed, pull requests merged in 2023-11, with the labels that each got.

#521 feat(regex): add daily/dated shows to episode regex
  src/constants.ts
  src/torznab.ts
Labels: feature, workflow, search

#503 Fix rTorrent injection incorrect paths
  src/clients/RTorrent.ts
Labels: bug, bt client

#523 findOnOtherSites only completes if the torrent is complete
  src/pipeline.ts
Labels: bug, bt client, integration

#499 feat(client/deluge): injection support for deluge torrent client
  package.json
  src/clients/Deluge.ts
  src/clients/TorrentClient.ts
  src/cmd.ts
  src/config.template.cjs
  src/config.template.docker.cjs
  src/configuration.ts
  src/logger.ts
  src/runtimeConfig.ts
  src/startup.ts
  src/utils.ts
  tsconfig.json
Labels: feature, bt client, integration

#518 feat(daemon): add API auth
  src/auth.ts
  src/cmd.ts
  src/config.template.cjs
  src/config.template.docker.cjs
  src/configuration.ts
  src/migrations/04-auth.ts
  src/migrations/migrations.ts
  src/runtimeConfig.ts
  src/server.ts
Labels: feature, daemon, integration

#543 fix(api-auth): improper endpoint parsing with url parameter
  src/server.ts
Labels: bug, daemon, integration

#552 fix(deluge/webui_unconnected): checks for webui being connected to daemon
  src/clients/Deluge.ts
Labels: bug, bt client, integration

#550 add(sanitization/actions): deluge-labeling (injection) and torrent filename (injection/save)
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/parseTorrent.ts
  src/torrent.ts
Labels: bug, bt client, integration

#553 fix(deluge/authenticate): capture errors in authenticate with try block
  src/clients/Deluge.ts
Labels: bug, bt client
