Repository cross-seed/cross-seed, pull requests merged in 2023-10, with the labels that each got.

#524 fix(regex): title capturing trailing separator
  src/clients/QBittorrent.ts
  src/constants.ts
  src/utils.ts
Labels: bug, search

#527 fix(notification): added event object to test-notification
  src/pushNotifier.ts
Labels: bug, integration

#517 fix(logging/config): validates config file action methods
  src/action.ts
  src/startup.ts
Labels: bug, logging

#526 feat: announce - return a 202 on torrent not completed
  src/pipeline.ts
  src/server.ts
Labels: daemon, workflow, integration
