Repository cross-seed/cross-seed, pull requests merged in 2023-12, with the labels that each got.

#561 fix(announce/size): ignores erroneous size being used ("0")
  src/decide.ts
Labels: bug, daemon, integration

#557 fix(migrations): set config initial value
  src/migrations/02-timestamps.ts
Labels: bug, config

#567 follow 3xx redirects on snatch
  src/torrent.ts
Labels: bug, search, integration

#571 Perform assessments serially to avoid artificially slow snatches
  src/pipeline.ts
Labels: feature, search, integration

#545 refactor(client/deluge): refactor and typing for json-rpc integration
  src/clients/Deluge.ts
Labels: bt client, integration

#555 fix(client/qbit): improve FormData requests
  .github/workflows/ci.yml
  .nvmrc
  README.md
  package-lock.json
  package.json
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/Transmission.ts
  src/pushNotifier.ts
  src/torrent.ts
  src/torznab.ts
Labels: bt client, dependencies, integration
