Repository cross-seed/cross-seed, pull requests merged in 2024-07, with the labels that each got.

#737 fix(action/unlink): use stricter test for unlinking if injection already exists
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
Labels: bug, bt client, search

#695 feat(search/sonarr): add path parsing and support for sonarr season folders
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/configuration.ts
  src/constants.ts
  src/dataFiles.ts
  src/pipeline.ts
  src/preFilter.ts
  src/pushNotifier.ts
  src/runtimeConfig.ts
  src/searchee.ts
  src/utils.ts
Labels: logging, daemon, search, integration, config, enhancement

#725 enhancement(reverselookup): using regex to parse rss/announce names instead of Fuse
  package-lock.json
  package.json
  src/arr.ts
  src/constants.ts
  src/pipeline.ts
  src/preFilter.ts
  src/searchee.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
Labels: bug, dependencies, search, enhancement

#682 feat(search/cache): use cache to remove duplicate queries
  src/config.template.cjs
  src/pipeline.ts
  src/preFilter.ts
  src/torznab.ts
Labels: feature, search, config, enhancement

#739 fix(torznab/search): better queries strings for unsupported media
  src/torznab.ts
Labels: bug, search

#740 fix(search/cache): verify ids before using cached search
  src/arr.ts
  src/pipeline.ts
  src/torznab.ts
Labels: bug, search

#741 enhancement(decide/snatch): retry rss/announce snatch after delay
  src/decide.ts
  src/pipeline.ts
Labels: daemon, search, enhancement

#742 fix(preFilter): search season pack episode from webhook if includeSingleEpisodes
  src/pipeline.ts
  src/preFilter.ts
  src/pushNotifier.ts
Labels: bug, logging, search

#743 fix(pushNotifier): fix error on failed injections
  src/pushNotifier.ts
Labels: bug, logging

#745 fix(qbit): normalize paths for subfolder check
  src/clients/QBittorrent.ts
Labels: bug, bt client

#746 enhancement(search): search unknown MediaType only if supported by indexer categories
  src/arr.ts
  src/clients/QBittorrent.ts
  src/logger.ts
  src/torznab.ts
  src/utils.ts
Labels: logging, bt client, search, enhancement

#747 enhancement(search): includeSingleEpisode affects searching anime
  src/constants.ts
  src/preFilter.ts
  src/utils.ts
Labels: search, enhancement

#707 feat(decide/cache): retry cached decisions
  src/cmd.ts
  src/constants.ts
  src/decide.ts
  src/migrations/06-uniqueDecisions.ts
  src/migrations/migrations.ts
  src/pipeline.ts
  src/preFilter.ts
  src/searchee.ts
  src/torznab.ts
  src/utils.ts
Labels: daemon, dependencies, search, config, enhancement

#751 update(config/template): descriptions for time-based options
  .github/ISSUE_TEMPLATE/bug_report.yml
  src/config.template.cjs
Labels: workflow, config

#753 fix(action/linking): resolve symlinks prior to linking
  src/action.ts
Labels: bug, search

#759 update(schema/cli): allow override with --no of config for exclude options
  src/cmd.ts
  src/configSchema.ts
Labels: bug, daemon, config

#760 enhancement(blocklist): matches directory name of files for data-based searches
  src/preFilter.ts
Labels: search, config

#754 enhancement(searchee): parse 'Season XX' or 'SXX' torrent titles
  src/arr.ts
  src/cmd.ts
  src/constants.ts
  src/decide.ts
  src/diff.ts
  src/parseTorrent.ts
  src/pipeline.ts
  src/preFilter.ts
  src/searchee.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
Labels: bug, daemon, search, config

#757 revert(includeSingleEpisode): remove exemption behavior with rss when false
  src/configSchema.ts
  src/decide.ts
  src/preFilter.ts
Labels: daemon, search, config

#755 update(logging/checks): adds timeout on cap fetching and validates webhook params
  src/clients/Deluge.ts
  src/server.ts
  src/torznab.ts
Labels: bt client, daemon, search, integration

#761 fix(searchee): correctly parse date episodes and skip parsing non-video
  src/searchee.ts
  src/utils.ts
Labels: bug, search

#762 fix(searchee): use parsed titles for searchees
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/decide.ts
  src/searchee.ts
  src/server.ts
  src/utils.ts
Labels: bug, bt client, daemon, search

#763 logging(decide): clarify logging around size mismatch
  src/decide.ts
Labels: daemon, search

#764 fix(regex/anime): never match audio channels as release
  src/constants.ts
  src/decide.ts
  src/server.ts
Labels: bug, daemon, search
