Repository cross-seed/cross-seed, pull requests merged in 2024-10, with the labels that each got.

#807 fix(rTorrent): add logging for failed injections
  src/clients/RTorrent.ts
Labels: bt client

#805 cleanup(prep/v6-stable): spell-check and formatting for v6 stable
  .idea/dictionaries/zak.xml
  src/action.ts
  src/arr.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/config.template.cjs
  src/configSchema.ts
  src/configuration.ts
  src/constants.ts
  src/dataFiles.ts
  src/db.ts
  src/decide.ts
  src/diff.ts
  src/errors.ts
  src/jobs.ts
  src/logger.ts
  src/migrations/00-initialSchema.ts
  src/migrations/05-caps.ts
  src/parseTorrent.ts
  src/preFilter.ts
  src/pushNotifier.ts
  src/searchee.ts
  src/server.ts
  src/startup.ts
  src/utils.ts
Labels: logging, bt client, daemon, dependencies, search, config

#808 Use JS comparison to prune indexed torrents
  package-lock.json
  package.json
  src/torrent.ts
  tsconfig.json
Labels: dependencies, search

#810 fix(decide/cache): delete corrupted cached torrents
  src/decide.ts
Labels: bug, daemon, search, enhancement

#811 Fix rTorrent injection for partial matches
  .gitignore
  src/clients/RTorrent.ts
  src/configSchema.ts
Labels: bt client, config

#785 enhancement(clear-cache): also clear search timestamps
  src/cmd.ts
  src/preFilter.ts
  src/torznab.ts
Labels: daemon, search, config, enhancement

#809 update(logging/webhook): warn on no indexers and verbose log the request
  src/config.template.cjs
  src/torznab.ts
Labels: search, integration, config

#812 enhancement(inject): exponential backoff to check if injection is complete
  src/clients/TorrentClient.ts
  src/inject.ts
Labels: bt client, enhancement

#814 run jobs with empty torznab so the user sees feedback
  .idea/dictionaries/mmgoodnow.xml
  src/jobs.ts
Labels: daemon
