Repository cross-seed/cross-seed, pull requests merged in 2024-11, with the labels that each got.

#815 fix(qbit): use stop instead of pause for v5
  src/clients/QBittorrent.ts
Labels: bug, bt client

#819 enhancement(rss): mitigate RSS publishing lag with offset
  src/torznab.ts
Labels: bug, search, integration, enhancement

#813 feat(restore): add `cross-seed restore` to inject torrents from cache
  src/cmd.ts
  src/inject.ts
Labels: feature, daemon, config

#817 enhancement(announce): specify missing parameters
  src/constants.ts
  src/server.ts
  src/utils.ts
Labels: daemon, enhancement

#832 Increase default searchLimit to 400
  src/config.template.cjs
Labels: config

#828 add(api/status): introduce status endpoint for health checks
  src/server.ts
Labels: feature, daemon, integration

#825 enhancement(regex): season matches `Season XX`
  src/constants.ts
  tests/utils.test.ts
Labels: enhancement

#783 enhancement(general): extract non feature functionality for upcoming features
  src/action.ts
  src/arr.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/configSchema.ts
  src/constants.ts
  src/inject.ts
  src/pipeline.ts
  src/preFilter.ts
  src/searchee.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
  tests/utils.test.ts
Labels: bt client, search, config, enhancement
