Repository cross-seed/cross-seed, pull requests merged in 2024-08, with the labels that each got.

#771 fix(search): remove erroneous hyphens in torznab queries
  src/utils.ts
Labels: bug, search

#765 enhancement(search): remove year from series
  src/arr.ts
  src/constants.ts
  src/searchee.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
Labels: search, enhancement

#767 fix(regex/arr-dir): adds dvd as exempt keyword for arr-dir
  src/constants.ts
Labels: bug

#768 fix(startup/perm): check config_dir exists before permissions check
  src/config.template.cjs
  src/configuration.ts
Labels: bug, config

#769 update(mediatype/video): support for identifying mediatype of video disc images
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/Transmission.ts
  src/constants.ts
  src/preFilter.ts
  src/utils.ts
Labels: bt client, search

#776 fix(prefilter): add check for non-video ratio in arr dir check
  .idea/.gitignore
  src/preFilter.ts
Labels: bug, search

#774 fix(qbit/inject): catch terminate connection error and confirm if in client
  .idea/dictionaries/zak.xml
  src/clients/QBittorrent.ts
Labels: bug, bt client

#775 enhancement(decide/cache): use fuzzy lookups for certain guids
  src/decide.ts
  src/logger.ts
Labels: bug, logging, daemon, search, enhancement

#777 fix(prefilter/logic): misplaced logic in arr directory detection
  src/preFilter.ts
Labels: search

#670 feat(action/inject): add inject job to retry saved torrents and more
  src/action.ts
  src/arr.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/configSchema.ts
  src/constants.ts
  src/decide.ts
  src/inject.ts
  src/jobs.ts
  src/logger.ts
  src/parseTorrent.ts
  src/pipeline.ts
  src/pushNotifier.ts
  src/runtimeConfig.ts
  src/searchee.ts
  src/server.ts
  src/startup.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
Labels: docs, feature, logging, bt client, daemon, search, integration, config, enhancement

#778 fix(torznab/ebook): filter calibre library index from tail of data-based search titles
  src/action.ts
  src/arr.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/configSchema.ts
  src/constants.ts
  src/decide.ts
  src/inject.ts
  src/jobs.ts
  src/logger.ts
  src/parseTorrent.ts
  src/pipeline.ts
  src/pushNotifier.ts
  src/runtimeConfig.ts
  src/searchee.ts
  src/server.ts
  src/startup.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
Labels: logging, bt client, daemon, search, config

#780 hotfix(search/books): parse calibre index on data searches before cleaning title
  src/torznab.ts
Labels: bug, search

#772 [EXAMPLE] Adds test framework via `vitest`
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
  tests/constants.test.ts
  tests/factories/file.ts
  tests/factories/searchee.ts
  tests/utils.test.ts
Labels: dependencies, workflow

#779 fix(action/inject): prevent `cross-seed inject` if no client
  src/configSchema.ts
Labels: bug, config

#781 deserialize indexer objects
  .idea/dictionaries/mmgoodnow.xml
  src/arr.ts
  src/cmd.ts
  src/configSchema.ts
  src/indexers.ts
  src/preFilter.ts
  src/torznab.ts
Labels: daemon, search, config
