Repository cross-seed/cross-seed, pull requests merged in 2024-04, with the labels that each got.

#621 feat(matching): feature parity for torrent/data matching
  src/action.ts
  src/configSchema.ts
  src/pipeline.ts
  src/runtimeConfig.ts
  src/startup.ts
  src/torrent.ts
Labels: search, config, enhancement

#619 update(config): reasonable defaults on config template, small refactors in fs code
  src/action.ts
  src/cmd.ts
  src/config.template.cjs
  src/config.template.docker.cjs
  src/configSchema.ts
  src/configuration.ts
  src/pipeline.ts
  src/runtimeConfig.ts
  src/startup.ts
  src/torrent.ts
Labels: docs, workflow, config

#617 fix(client/deluge): defend against deluge timeouts
  src/clients/Deluge.ts
Labels: bug, bt client

#639 update(duplicateCategories): ignores appending cross-seed to dataCategory
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
Labels: bug, bt client, workflow, integration, enhancement

#615 feat(decide/match): partial file tree match mode
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/constants.ts
  src/decide.ts
  src/pipeline.ts
Labels: search, enhancement

#637 Upgrade prettier
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/action.ts
  src/cache.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/configSchema.ts
  src/configuration.ts
  src/dataFiles.ts
  src/decide.ts
  src/indexers.ts
  src/jobs.ts
  src/logger.ts
  src/migrations/00-initialSchema.ts
  src/migrations/02-timestamps.ts
  src/parseTorrent.ts
  src/pipeline.ts
  src/preFilter.ts
  src/pushNotifier.ts
  src/searchee.ts
  src/server.ts
  src/startup.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
Labels: dependencies, workflow, enhancement

#638 feat(logging): mismatch decisions note searchee-candidate differences
  src/decide.ts
  src/indexers.ts
  src/preFilter.ts
  src/utils.ts
Labels: logging, enhancement

#575 v6
  .eslintrc.json
  .github/workflows/ci.yml
  .nvmrc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  package-lock.json
  package.json
  src/action.ts
  src/auth.ts
  src/cache.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/config.template.cjs
  src/config.template.docker.cjs
  src/configSchema.ts
  src/configuration.ts
  src/constants.ts
  src/dataFiles.ts
  src/decide.ts
  src/indexers.ts
  src/jobs.ts
  src/logger.ts
  src/migrations/00-initialSchema.ts
  src/migrations/02-timestamps.ts
  src/parseTorrent.ts
  src/pipeline.ts
  src/preFilter.ts
  src/pushNotifier.ts
  src/runtimeConfig.ts
  src/searchee.ts
  src/server.ts
  src/startup.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
  tsconfig.json
Labels: feature, logging, dependencies, enhancement

#642 feat(integration/repo): add renovate config
  renovate.json
Labels: feature, workflow, integration

#646 fix(client/qbittorrent): missing message property in error.includes
  src/clients/QBittorrent.ts
Labels: bug, bt client, integration

#650 feat(clear-indexer): adds cli argument for clearing indexer stats
  src/cmd.ts
Labels: feature, config

#660 feat(git-workflow): add templates and labeling for PRs
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: workflow, integration, enhancement

#662 bug(client/qbit): Check for subfolder when linking and properly set category
  src/clients/QBittorrent.ts
Labels: bug, bt client, integration

#666 feat(decide): adds subsequent releases by same group filtering
  src/constants.ts
  src/decide.ts
Labels: daemon, search, enhancement

#665 bug(clients/qbit): Properly handle subfolder layout
  src/action.ts
  src/clients/QBittorrent.ts
Labels: bug, bt client, search, integration

#667 bug(action/linking): Linking dest files properly
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
Labels: bug, bt client, search

#669 fix(clients/qbit): yet another qbit PR to fix tagging
  src/clients/QBittorrent.ts
Labels: bt client

#659 migration(v6/qbit): refactor and migrate to v6 category and tagging
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/constants.ts
  src/decide.ts
  src/utils.ts
Labels: bt client, daemon, search, integration, config, enhancement
