Repository cross-seed/cross-seed, pull requests merged in 2024-09, with the labels that each got.

#758 enhancement(rss): support pagination for rss if gap longer than rssCadence
  src/arr.ts
  src/clients/Deluge.ts
  src/configSchema.ts
  src/indexers.ts
  src/logger.ts
  src/migrations/07-limits.ts
  src/migrations/migrations.ts
  src/pipeline.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
Labels: logging, bt client, dependencies, search, config, enhancement

#784 fix(logging/webhook): log request before error in invalid webhook
  src/server.ts
Labels: logging, daemon

#792 fix(dep/knex): fixed failing tests on knex import
  src/db.ts
Labels: bug, dependencies

#793 update(regex/groups): check for improperly identified groups when group is missing
  src/constants.ts
  src/decide.ts
  src/searchee.ts
Labels: daemon, search

#786 fix(utils/parsing): strip scene title before release group
  src/utils.ts
Labels: bug

#791 fix(torrentDir): require torrentDir for rss and announce
  src/configSchema.ts
  src/pipeline.ts
  src/server.ts
Labels: bug, daemon, config

#787 fix(inject): false positive blocklist message summary
  src/inject.ts
Labels: bug

#800 update(issue-template): change ordering of templates to reduce confusion
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: workflow

#801 hotfix(deps/knex): bad import for failing tests
  src/db.ts
Labels: bug, dependencies
