Repository cross-seed/cross-seed, pull requests merged in 2024-06, with the labels that each got.

#705 fix(search/delay): value over max signed int produces default to 1s
  src/cmd.ts
  src/configSchema.ts
  src/constants.ts
Labels: bug, daemon, config

#703 fix(client/tm): transmission logging for non-json response
  src/clients/Transmission.ts
Labels: bug, bt client

#701 bug(decide): fix incorrect matching due to case and punctuation
  src/constants.ts
  src/decide.ts
Labels: daemon, search

#699 update(logging): Strip ansi from logs and general logging improvements
  package-lock.json
  package.json
  src/action.ts
  src/constants.ts
  src/decide.ts
  src/logger.ts
  src/pipeline.ts
  src/torznab.ts
  src/utils.ts
Labels: logging, daemon, dependencies, search

#713 fix(logging/stack): add stacktraces to log files
  src/logger.ts
Labels: bug, logging

#715 update(client/deluge): broaden indicators determining completion in client
  src/clients/Deluge.ts
Labels: bt client, integration, enhancement

#714 fix(logging/config): redact apiKey from logging in configdump
  src/logger.ts
Labels: bug, logging, integration

#710 enhancement(decide/res): ignore resolution type
  src/decide.ts
  src/torznab.ts
  src/utils.ts
Labels: daemon, search, enhancement

#708 bug(indexers): skip indexers with null caps and refresh with indexer job
  src/indexers.ts
  src/jobs.ts
  src/torznab.ts
Labels: bug, daemon, search, enhancement

#712 enhancement(action/unlink): unlink failed injections and save incomplete torrents
  src/action.ts
  src/arr.ts
  src/torrent.ts
Labels: bug, search, enhancement

#717 bug(action/unlink): check if file exists before linking in single file case
  src/action.ts
Labels: bug, search

#720 bug(clients/qbit): properly log formData entries on torrent add
  src/clients/QBittorrent.ts
Labels: bug, bt client

#721 bug(regex/group): fix last character of group being removed in some cases
  src/constants.ts
Labels: bug

#723 enhancement(clients/qbit): better handling of post-injection verification
  src/clients/QBittorrent.ts
Labels: bug, bt client, integration, enhancement

#722 fix(regex/scene): require scene group in prefix be lowercase
  src/constants.ts
Labels: bug, search

#727 fix(cli/blocklist): allow multiple arguments for cli usage
  src/cmd.ts
Labels: bug, daemon, config

#728 fix(arr/ids): consider ids of 0 invalid
  src/arr.ts
Labels: bug, integration

#735 update(id-search): support tvmaze id lookup
  src/arr.ts
  src/torznab.ts
Labels: search

#730 fix(prefilter): remove single file constraint for isSingleEpisode check
  src/constants.ts
  src/preFilter.ts
Labels: bug, search

#734 fix(regex/ep): years cannot be episode num
  src/constants.ts
Labels: bug

#736 fix(qbit/inject): better handling of autoTMM and duplicate cats for injection
  src/clients/QBittorrent.ts
Labels: bug, bt client
