Repository cross-seed/cross-seed, pull requests merged in 2024-03, with the labels that each got.

#609 chore: move category and tag to constants
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/constants.ts
  src/pushNotifier.ts
Labels: bt client, enhancement

#587 feat(blocklist): excludes releases for cross-seeding based on config option
  src/cmd.ts
  src/configSchema.ts
  src/configuration.ts
  src/constants.ts
  src/dataFiles.ts
  src/decide.ts
  src/preFilter.ts
  src/runtimeConfig.ts
Labels: feature, search, config

#563 feat(linking): new linking structure and torrent-backed linking
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/configSchema.ts
  src/configuration.ts
  src/decide.ts
  src/logger.ts
  src/pipeline.ts
  src/runtimeConfig.ts
  src/searchee.ts
  src/startup.ts
Labels: feature, bt client, search

#599 feat(config/logging): error messaging on invalid syntax in config file
  src/cmd.ts
  src/configuration.ts
Labels: logging, config
