Repository cross-seed/cross-seed, pull requests merged in 2024-12, with the labels that each got.

#836 update(config-template): clarify usage across data and torrent for option descriptions
  src/config.template.cjs
Labels: config

#826 enhancement(rss): better pagination using last seen candidates
  src/migrations/08-rss.ts
  src/migrations/migrations.ts
  src/pipeline.ts
  src/torznab.ts
Labels: dependencies, search, enhancement

#833 feat: add simple /api/ping endpoint
  .idea/vcs.xml
  src/server.ts
Labels: daemon

#835 enhancement(config): better path verification at startup
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/config.template.cjs
  src/configSchema.ts
  src/constants.ts
  src/dataFiles.ts
  src/pushNotifier.ts
  src/runtimeConfig.ts
  src/startup.ts
  src/utils.ts
Labels: bug, logging, bt client, search, config, enhancement

#818 fix(decide/cache): optimize query for using cached torrents
  src/decide.ts
  src/inject.ts
  src/pipeline.ts
  src/torrent.ts
  src/torznab.ts
Labels: bug, daemon, search

#840 fix(searchee): handle errors when creating data based searchees
  src/searchee.ts
Labels: bug, search

#841 enhancement(torrentDir): verify contents against client
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/configSchema.ts
  src/diff.ts
  src/pipeline.ts
  src/searchee.ts
  src/startup.ts
  src/torrent.ts
Labels: bt client, search, config, enhancement

#750 feat(action/inject): resume injections below size threshold and readd skipRecheck
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/configuration.ts
  src/inject.ts
  src/runtimeConfig.ts
Labels: feature, bt client, daemon, config

#842 fix(zod/linkdir): do not require linkdir for risky or partial when action is save
  src/configSchema.ts
Labels: bug, config

#773 enhancement(blocklist): torrent categories, tags, labels, sizes, and tracker hosts
  src/clients/TorrentClient.ts
  src/config.template.cjs
  src/configSchema.ts
  src/constants.ts
  src/decide.ts
  src/diff.ts
  src/parseTorrent.ts
  src/pipeline.ts
  src/preFilter.ts
  src/searchee.ts
  src/torrent.ts
Labels: bt client, daemon, search, config, enhancement

#843 fix(blocklist): cover trivial switch cases
  src/clients/TorrentClient.ts
  src/configSchema.ts
Labels: bug, bt client, config

#668 feat(match): ensemble matching for episodes
  src/action.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/configuration.ts
  src/db.ts
  src/decide.ts
  src/inject.ts
  src/pipeline.ts
  src/preFilter.ts
  src/runtimeConfig.ts
  src/searchee.ts
  src/signalHandlers.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
Labels: feature, daemon, search, config, enhancement

#847 update(config-template): Fix comment for disabling seasonFromEpisodes
  src/config.template.cjs
Labels: docs, config

#848 fix(searchee): use reduce instead to avoid call stack size limit
  src/cmd.ts
  src/decide.ts
  src/preFilter.ts
  src/searchee.ts
Labels: bug, daemon, search, config

#846 update(cli/ensemble): add cli arg --no-season-from-episodes
  src/action.ts
  src/cmd.ts
  src/configSchema.ts
Labels: bug, daemon, search, config

#850 logging(validation): log excluded savePaths from linking test
  src/clients/TorrentClient.ts
Labels: bt client

#851 fix(config/seasonFromEpisodes): better validation
  src/action.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/pipeline.ts
  src/searchee.ts
  src/startup.ts
  src/torrent.ts
Labels: bug, daemon, search, config

#849 update(blocklist/deluge): change labels to be category rather than tag
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/config.template.cjs
  src/configSchema.ts
  src/constants.ts
  src/parseTorrent.ts
  src/preFilter.ts
  src/server.ts
Labels: bt client, daemon, search, config

#852 enhancement(config/blockList): prevent useless blockList entries
  src/configSchema.ts
Labels: config, enhancement

#853 enhancement(inject): skip recheck for complete data/ensemble
  src/action.ts
  src/clients/TorrentClient.ts
  src/config.template.cjs
  src/inject.ts
Labels: bt client, search, config, enhancement

#855 fix(checkNewCandidateMatch): skip unparsable entries
  src/torrent.ts
Labels: bug, search

#856 ehancement(pushNotifier): additional info in response
  src/pushNotifier.ts
Labels: logging, integration, enhancement

#857 enhancement(dataDirs): support rss/announce matching
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/dataFiles.ts
  src/db.ts
  src/decide.ts
  src/logger.ts
  src/pipeline.ts
  src/preFilter.ts
  src/searchee.ts
  src/server.ts
  src/torrent.ts
  src/torznab.ts
Labels: logging, daemon, search, config, enhancement

#860 fix(zod/webhook): corrects bad logic on path validation in webhook api calls
  src/server.ts
Labels: bug, daemon, integration

#861 enhancement(action/linking): support multiple linkDirs
  src/action.ts
  src/clients/TorrentClient.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/configuration.ts
  src/inject.ts
  src/pipeline.ts
  src/runtimeConfig.ts
  src/searchee.ts
  src/startup.ts
Labels: bt client, daemon, search, config, enhancement
