Repository cross-seed/cross-seed, pull requests merged in 2024-05, with the labels that each got.

#671 chore(issue-templates): update capitalization
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: workflow

#672 chore(issue-templates): missing capitalization corrections
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .idea/discord.xml
Labels: workflow

#673 ci(npm): remove warn for cleanup dev deps
  Dockerfile
Labels: dependencies

#652 fix(clients): refactor for v6 matching and linking features
  .idea/vcs.xml
  package-lock.json
  package.json
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/configuration.ts
  src/constants.ts
  src/decide.ts
  src/runtimeConfig.ts
  src/utils.ts
Labels: bug, bt client, daemon, dependencies, search, integration, config

#674 fix(zod/checkvalidpath): move path formatting logic after fs validation fails
  src/configSchema.ts
  src/startup.ts
Labels: config

#675 fix(qbit/skiprecheck): not logic operator not applied properly
  src/clients/QBittorrent.ts
Labels: bug, bt client

#676 fix(pipeline): check existence of path before creation
  src/pipeline.ts
Labels: bug, config

#677 bug(qbit): fix tagging with duplicateCategories
  src/clients/QBittorrent.ts
Labels: bt client

#678 fix(decide): release version incorrectly compared
  src/decide.ts
Labels: daemon, search

#681 enhancement(match): Display size diff in bytes if similar
  src/decide.ts
Labels: daemon, search, enhancement

#679 refactor(client/deluge): switch to using Result class for calls
  src/clients/Deluge.ts
Labels: bt client

#686 enhancement(inject): MATCH_SIZE_ONLY starts unpaused
  src/utils.ts
Labels: enhancement

#685 bug(action/link): fix incorrect link paths when linking single file
  src/action.ts
  src/searchee.ts
Labels: bug, search

#687 fix(regex): movie matched as episode
  src/constants.ts
Labels: bug, search

#692 fix(regex): allow anime ending with release and [SXX]
  src/constants.ts
Labels: bug

#693 fix(clients): set download path when adding torrent
  src/clients/QBittorrent.ts
  src/config.template.cjs
Labels: bug, bt client, integration, config

#640 feat(arr-lookup): fetch category and id caps for torznab searching
  .idea/dictionaries/mmgoodnow.xml
  .idea/prettier.xml
  src/action.ts
  src/arr.ts
  src/clients/Deluge.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/configuration.ts
  src/constants.ts
  src/decide.ts
  src/errors.ts
  src/indexers.ts
  src/logger.ts
  src/migrations/05-caps.ts
  src/migrations/migrations.ts
  src/preFilter.ts
  src/runtimeConfig.ts
  src/searchee.ts
  src/startup.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
Labels: feature, logging, bt client, daemon, dependencies, search, integration, config

#694 fix(arr/id): address typo and additional logging details
  src/action.ts
  src/arr.ts
  src/torznab.ts
Labels: search

#683 Refactor Result type
  src/Result.ts
  src/action.ts
  src/arr.ts
  src/clients/Deluge.ts
  src/clients/RTorrent.ts
  src/clients/Transmission.ts
  src/decide.ts
  src/pipeline.ts
  src/torrent.ts
Labels: bt client, daemon, search

#689 enhancement(decide/match): support multi-file risky based matching
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/constants.ts
  src/decide.ts
  src/pipeline.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
Labels: bt client, daemon, search, enhancement

#697 docs(qbit): clarify autoTMM warning and link to docs
  src/config.template.cjs
  src/configSchema.ts
Labels: docs, config
