Repository cross-seed/cross-seed, pull requests merged in 2025-04, with the labels that each got.

#949 fix(cmd): use metafile directly for diff and tree
  src/cmd.ts
  src/diff.ts
Labels: bug, daemon, config

#905 feat(clients): support multiple clients with useClientTorrents
  src/action.ts
  src/clients/Deluge.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/configSchema.ts
  src/inject.ts
  src/pipeline.ts
  src/searchee.ts
  src/startup.ts
  src/torrent.ts
  src/utils.ts
Labels: docs, feature, bt client, search, config

#937 feat(clients): support multiple clients with dataDirs
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/configSchema.ts
  src/inject.ts
  src/pipeline.ts
Labels: bt client, search, config, enhancement

#947 enhancement(inject): link files from multiple searchees
  src/action.ts
  src/inject.ts
  src/pipeline.ts
Labels: search, enhancement

#950 fix(regex/group): prevent group matches from titles
  src/searchee.ts
Labels: bug, search

#948 fix(regex): cover edgecases in scene title parsing
  src/constants.ts
Labels: bug

#953 feat(torrentClients): support clients as readonly
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
Labels: bt client, daemon, search, config, enhancement

#956 fix(torrentClients): treat readonly searchees as data-based
  src/action.ts
  src/config.template.cjs
  src/utils.ts
Labels: bug, search, config

#957 enhancement(job/inject): trigger inject job on webhook completion
  src/jobs.ts
  src/server.ts
Labels: daemon, enhancement

#958 fix(testLinking): add more checks around creating temp file
  src/action.ts
Labels: bug, search

#959 fix(testLinking): use different temp files to avoid collision
  src/action.ts
Labels: bug, search

#961 update(db): remove memDB
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/config.template.cjs
  src/dataFiles.ts
  src/db.ts
  src/decide.ts
  src/jobs.ts
  src/migrations/09-clientAndDataSearchees.ts
  src/migrations/migrations.ts
  src/pipeline.ts
  src/searchee.ts
  src/startup.ts
  src/torrent.ts
Labels: bt client, daemon, dependencies, search, config

#940 feat(inject/ignoreFiles): ignore certain non-relevant files for resume behavior with partial matches
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/configuration.ts
  src/constants.ts
  src/inject.ts
  src/pushNotifier.ts
  src/runtimeConfig.ts
Labels: feature, logging, bt client, daemon, search, config, enhancement

#964 enhancement(clients): check for torrent modifications each poll
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/startup.ts
  src/torrent.ts
Labels: bt client, search, enhancement

#965 enhancement(jobs): triggered jobs run immediately
  src/jobs.ts
  src/server.ts
  src/utils.ts
Labels: daemon, enhancement

#966 enhancement(cmd/inject): add `--ignore-titles` to skip fuzzy matching
  src/cmd.ts
  src/configSchema.ts
  src/configuration.ts
  src/inject.ts
  src/runtimeConfig.ts
  src/startup.ts
Labels: daemon, config, enhancement

#967 refactor(async): replace fs sync functions with async
  .eslintrc.json
  src/action.ts
  src/arr.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/configSchema.ts
  src/dataFiles.ts
  src/db.ts
  src/decide.ts
  src/inject.ts
  src/jobs.ts
  src/migrations/09-clientAndDataSearchees.ts
  src/parseTorrent.ts
  src/pipeline.ts
  src/preFilter.ts
  src/pushNotifier.ts
  src/searchee.ts
  src/server.ts
  src/startup.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
  tests/utils.test.ts
  tsconfig.eslint.json
Labels: logging, bt client, daemon, dependencies, search, config

#970 update(video-formats): add sonarr supported valid video extensions
  src/constants.ts
Labels: search, integration, enhancement

#971 fix(db/index): better indexing for db
  src/pipeline.ts
  src/searchee.ts
  src/torrent.ts
  src/torznab.ts
Labels: bug, search

#973 update(action): better exists check
  CONTRIBUTING.md
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/inject.ts
Labels: bt client, search
