Repository cross-seed/cross-seed, pull requests merged in 2025-03, with the labels that each got.

#924 enhancement(snatch): retry snatches
  src/decide.ts
  src/pipeline.ts
  src/torrent.ts
  src/torznab.ts
Labels: daemon, search, enhancement

#922 enhancement(qbit): support `Don't create subfolder`
  src/action.ts
  src/clients/QBittorrent.ts
  src/clients/TorrentClient.ts
  src/inject.ts
  src/searchee.ts
  src/torrent.ts
  src/utils.ts
Labels: bt client, search, enhancement

#925 enhancement(reverselookup): handle AKA in titles
  src/constants.ts
  src/dataFiles.ts
  src/db.ts
  src/pipeline.ts
  src/searchee.ts
  src/torrent.ts
  src/utils.ts
Labels: search, enhancement

#904 framework for multiple client support
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/configuration.ts
  src/dataFiles.ts
  src/db.ts
  src/logger.ts
  src/preFilter.ts
  src/pushNotifier.ts
  src/runtimeConfig.ts
  src/searchee.ts
  src/startup.ts
  src/torrent.ts
  src/utils.ts
Labels: logging, bt client, daemon, search, config

#927 fix(linkDirs): fallback to temp file to test linking
  src/action.ts
Labels: bug, search

#929 fix(seasonFromEpisodes/zod): fix no-season-from-episodes triggering zod due to typecheck
  src/configSchema.ts
Labels: bug, config

#930 update(snatch): 5 minute retry for announces
  src/configSchema.ts
  src/decide.ts
Labels: bug, daemon, search, config

#933 update(zod/maxdatadepth): classify greater than 3 depth as warning
  src/configSchema.ts
Labels: config

#938 logging(clients): always log with label
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
Labels: bt client

#941 fix(clients/transmission): only check for resume if added paused
  src/clients/Deluge.ts
  src/clients/Transmission.ts
Labels: bug, bt client

#942 fix(job/inject): don't recheck if already in progress
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/inject.ts
Labels: bug, bt client
