Repository cross-seed/cross-seed, pull requests merged in 2025-02, with the labels that each got.

#900 enhancement(preFIlter): exclude episode/season from arr directory detection
  src/preFilter.ts
  src/utils.ts
Labels: search, enhancement

#903 fix(db/startup): prevent invalid pathing returns on new install referencing the db/appDir
  src/configuration.ts
  src/logger.ts
Labels: bug, logging, config

#908 fix(searchee): use `file.path` instead of `searchee.name` for sourceRoot
  src/action.ts
  src/searchee.ts
  src/torrent.ts
Labels: bug, search

#906 fix(rtorrent): batch requests for getClientSearchees
  src/clients/RTorrent.ts
  src/utils.ts
Labels: bug, bt client

#911 update(matchMode): use "strict" and "flexible" instead of "safe" and "risky"
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/constants.ts
  src/decide.ts
  src/inject.ts
Labels: docs, daemon, search, config

#902 enhancement(searchee): use meta info in parsed titles
  src/searchee.ts
Labels: search, enhancement

#912 fix(startup): prevent errors with no logging
  src/clients/QBittorrent.ts
  src/clients/Transmission.ts
  src/config.template.cjs
  src/configSchema.ts
  src/errors.ts
Labels: bug, bt client, config

#914 logging(rtorrent): suppress unnecessary errors
  src/clients/RTorrent.ts
Labels: bug, bt client

#907 fix(cmd): only add options to relevant commands
  src/cmd.ts
  src/diff.ts
Labels: bug, daemon, config

#909 feat(api): add endpoint to trigger jobs
  src/cmd.ts
  src/jobs.ts
  src/pipeline.ts
  src/preFilter.ts
  src/searchee.ts
  src/server.ts
  src/startup.ts
Labels: feature, daemon, search, config

#920 fix(dataFiles): restart watcher on errors
  src/dataFiles.ts
Labels: bug, enhancement

#917 logging(errors): display e.message
  src/action.ts
  src/arr.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/dataFiles.ts
  src/decide.ts
  src/inject.ts
  src/pipeline.ts
  src/pushNotifier.ts
  src/searchee.ts
  src/server.ts
  src/startup.ts
  src/torznab.ts
Labels: logging, bt client, daemon, search

#921 fix(action): fallback to alt method if no stat.dev to determine linkDir
  src/action.ts
  src/utils.ts
Labels: bug, search
