Repository cross-seed/cross-seed, pull requests merged in 2025-01, with the labels that each got.

#862 fix(data/index): check against empty files
  src/clients/TorrentClient.ts
  src/config.template.cjs
  src/dataFiles.ts
Labels: bug, bt client, config

#863 fix(rtorrent): get correct save path for ensemble
  src/clients/RTorrent.ts
Labels: bug, bt client

#866 fix(config): properly initialize default variables
  src/cmd.ts
  src/configSchema.ts
Labels: bug, daemon, config

#867 fix(db): prevent cross-seed hanging on exit
  src/cmd.ts
Labels: bug, daemon, config

#870 fix(linking/test): use filterByContent instead of only blockList
  src/clients/TorrentClient.ts
Labels: bug, bt client

#874 fix(outputDir): always verify ouputDir
  src/startup.ts
Labels: bug

#880 Ignore malformed or empty announce-list field
  src/parseTorrent.ts
Labels: bug, logging, search

#878 fix(action/linking): trim tracker to match qbit behavior
  src/server.ts
  src/torznab.ts
Labels: bug, daemon, search

#875 fix(decide/cache): don't update db if snatch already exists
  src/decide.ts
  src/jobs.ts
Labels: bug, daemon, search, enhancement

#881 fix(indexing): properly index new ensemble entries
  src/torrent.ts
Labels: bug, search

#882 enhancement(decide): check release version
  src/constants.ts
  src/decide.ts
Labels: daemon, search, enhancement

#883 fix(torznab): properly exclude by timestamps per indexer
  src/torznab.ts
Labels: bug, search

#868 extract boilerplate for useClientTorrents
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/configuration.ts
  src/dataFiles.ts
  src/db.ts
  src/inject.ts
  src/parseTorrent.ts
  src/pipeline.ts
  src/preFilter.ts
  src/runtimeConfig.ts
  src/searchee.ts
  src/server.ts
  src/startup.ts
  src/torrent.ts
  src/utils.ts
Labels: bt client, daemon, search, config

#887 enhancement(linkType): support reflink
  src/action.ts
  src/constants.ts
Labels: search, enhancement

#885 logging(dataDirs): warn users with low max watches
  src/configSchema.ts
  src/dataFiles.ts
  src/pipeline.ts
  src/runtimeConfig.ts
  src/server.ts
  src/startup.ts
  src/utils.ts
Labels: daemon, config

#888 fix(startup): delayed retries for checks on startup
  src/startup.ts
Labels: bug

#864 feat(clients): option to use APIs instead of torrentDir
  src/action.ts
  src/clients/Deluge.ts
  src/clients/QBittorrent.ts
  src/clients/RTorrent.ts
  src/clients/TorrentClient.ts
  src/clients/Transmission.ts
  src/config.template.cjs
  src/configSchema.ts
  src/constants.ts
  src/dataFiles.ts
  src/pipeline.ts
  src/runtimeConfig.ts
  src/searchee.ts
  src/server.ts
  src/startup.ts
  src/torrent.ts
  src/utils.ts
Labels: bt client, daemon, search, config, enhancement

#889 enhancement(pushNotifier): support multiple urls
  src/cmd.ts
  src/config.template.cjs
  src/configSchema.ts
  src/configuration.ts
  src/pushNotifier.ts
  src/runtimeConfig.ts
Labels: logging, daemon, config, enhancement

#886 enhancement(webhook): ability to override certain config options
  src/decide.ts
  src/pipeline.ts
  src/preFilter.ts
  src/runtimeConfig.ts
  src/server.ts
  src/torznab.ts
  src/utils.ts
Labels: daemon, search, config, enhancement

#893 enhancement(decide): treat repack and proper the same
  src/decide.ts
Labels: daemon, search, enhancement

#892 fix(torrentDir): support torrentDir without client if action save
  src/clients/TorrentClient.ts
  src/configSchema.ts
  src/torrent.ts
Labels: bug, bt client, search, config

#894 feat(cmd): add cmd to update torrent_cache trackers
  src/cmd.ts
  src/decide.ts
  src/parseTorrent.ts
Labels: feature, daemon, search, config

#897 fix(docs): update links to documentation
  src/config.template.cjs
  src/server.ts
Labels: docs, daemon, config

#896 Extract withCrossSeedRuntime startup helper
  src/cache.ts
  src/cmd.ts
  src/configSchema.ts
  src/errors.ts
  src/jobs.ts
  src/logger.ts
  src/migrations/00-initialSchema.ts
  src/migrations/02-timestamps.ts
  src/pipeline.ts
  src/pushNotifier.ts
  src/runtimeConfig.ts
  src/server.ts
  src/signalHandlers.ts
  src/startup.ts
  src/utils.ts
Labels: logging, daemon, dependencies, config

#899 fix(import): remove signalHandlers.js
  src/cmd.ts
Labels: bug
