Repository cross-seed/cross-seed, pull requests merged in 2025-09, with the labels that each got.

#1033 update(gh/README) update and simplify README.md file on github
  README.md
Labels: enhancement, documentation

#1034 perf(client): optimize client indexing
  src/pipeline.ts
  src/torrent.ts
Labels: search, enhancement

#1035 enhancement(preFilter): prevent searching for bad episode/season naming formats
  src/constants.ts
  src/preFilter.ts
Labels: search, enhancement

#1036 fix(perf): reduce memory usage during reverse lookup
  src/action.ts
  src/clients/TorrentClient.ts
  src/cmd.ts
  src/logger.ts
  src/pipeline.ts
  src/preFilter.ts
  src/searchee.ts
  src/server.ts
  src/torrent.ts
  src/torznab.ts
  src/utils.ts
Labels: bug, logging, bt client, daemon, search, config

#1042 enhancement(torrent_cache): save entries with mediaType and tracker
  src/action.ts
  src/configSchema.ts
  src/constants.ts
  src/db.ts
  src/decide.ts
  src/inject.ts
  src/jobs.ts
  src/torrent.ts
Labels: daemon, search, config, enhancement

#1046 support base paths on the backend
  src/cmd.ts
  src/routes/baseApi.ts
  src/routes/indexerApi.ts
  src/routes/staticFrontendPlugin.ts
  src/runtimeConfig.ts
  src/server.ts
  src/startup.ts
  src/trpc/fastifyAdapter.ts
Labels: daemon, config

#1053 fix(migrations): 11-trackers on new install
  src/migrations/11-trackers.ts
Labels: dependencies
